name: Automatically submit the COVID-19 report sheet of ygsoft

on:
  schedule:
    - cron: "0 0 * * *"
  push:

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Cypress run
        uses: cypress-io/github-action@v1
        with:
          env: ORG_GID=${{ secrets.ORG_GID }},STORAGE_VALUE=${{ secrets.STORAGE_VALUE }}
